 /* reset all the CSS*/

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */

 * {
   box-sizing: border-box;
 }

 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
 }

 body {
   line-height: 1;
 }

 ol, ul {
   list-style: none;
 }

 blockquote, q {
   quotes: none;
 }

 blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 i {
   font-style: italic;
 }
 /*SITE*/

 @font-face {
   font-family: 'Nixie One';
   src: url(font/NixieOne-Regular.ttf);
 }

 element.style {
   clear: both;
 }

 .top {
   height: auto;
   margin-top: 0;
   margin-bottom: 0px;
 }

 .topbutton {
   background-color: #ffffff;
 }

 .hline {
   height: 2px;
   background: #000000;
   padding: 20px auto 15px auto;
   margin-top: 55px;
   margin-bottom: 35px;
 }

 .hline2 {
   height: 1px;
   background: #000000;
   padding: 10px auto 17px auto;
   margin: 20px auto 20px auto;
 }

 .hline3 {
   height: 0.07em;
   background: #000000;
   padding: 0px auto 0px auto;
   margin: 5px auto 5px auto;
 }

 .hline4 {
   height: 2px;
   background: #000000;
   padding: 0px auto 0px auto;
   margin: 0px auto 0px auto;
   width: 5%;
 }

 .hline5 {
   height: 2px;
   background: #000000;
   padding: 0px auto 0px auto;
   margin: -40px auto 20px auto;
   width: 5%;
 }

 .svg-header svg {
   width: 100%;
   position: relative;
   margin-top: 5em;
   padding-top: 0;
   background-color: #fff;
   -webkit-transform: translate3d(0,0,0);
         z-index: 2;
 }

 @media only screen and (max-width: 1200px) {
   .svg-header svg {
     -ms-transform: scale(1.2);
     /* IE 9 */
     -webkit-transform: scale(1.2);
     /* Safari */
     transform: scale(1.2);
   }
 }

 @media only screen and (max-width: 900px) {
   .svg-header svg {
     -ms-transform: scale(1.4);
     /* IE 9 */
     -webkit-transform: scale(1.4);
     /* Safari */
     transform: scale(1.4);
   }
 }

 #myworkmenu {
   fill: #000000;
 }

 #myworkmenu:hover {
   fill: #00EEDD;
 }

 #aboutmenu {
   fill: #000000;
 }

 #aboutmenu:hover {
   fill: #00EEDD;
 }

 #contactmenu {
   fill: #000000;
 }

 #contactmenu:hover {
   fill: #00EEDD;
 }

 .topbutton {
   position: relative;
   left: 96%;
   top: 0;
   margin: 0;
   padding: 0;
   height: 4.5%;
   width: 4.5%;
   transition: transform 4s ease-out;
 }

 .topbutton:hover, .topbutton:focus {
   -ms-transform: rotate(1turn);
   -webkit-transform: rotate(1turn);
   transform: rotate(1turn);
   text-decoration: none;
   cursor: pointer;
   color: #00EEDD;
 }

 .maincontent {
   position: sticky;
   width: auto;
   height: auto;
   padding: 5% 5% 0% 5%;
   margin: 2%;
   background-color: #FFF;
 }

 .site {
   position: sticky;
   margin: 0 2% 2% 2%;
   padding: 0 5% 0% 5%;
   background-color: #FFF;
 }

 p {
   font-family: 'Nixie One', cursive;
   font-size: 1.1em;
   font-style: bold;
   color: #000;
   text-align: center;
   line-height: 1.8em;
   width: 80%;
   max-width: 700px;
   margin: auto;
 }

 @media all and (max-width: 900px) {
   p {
     font-size: 1em;
     width: 96%;
   }
 }

 @media all and (max-width: 700px) {
   p {
     font-size: 0.9em;
     line-height: 1.6em;
     width: 98%;
   }
 }

 h1 {
   font-family: 'Nixie One', cursive;
   font-size: 1.4em;
   font-style: normal;
   color: #000000;
   font-weight: bold;
   text-align: left;
   line-height: 1.5em;
 }

 h2 {
   font-family: 'Work Sans', sans-serif;
   font-size: 0.8em;
   font-weight: 300;
   letter-spacing: 1px;
   color: #000000;
   text-align: left;
   line-height: 1.3em;
   text-transform: uppercase;
   padding-bottom: 5px;
 }

 h3 {
   font-family: 'Work Sans', sans-serif;
   font-size: 0.7em;
   font-weight: 300;
   letter-spacing: 1.9px;
   color: #11EEDD;
   text-align: left;
   line-height: 2em;
   text-transform: uppercase;
 }

 h4 {
   font-family: 'Work Sans', sans-serif;
   font-size: 0.9em;
   font-weight: 300;
   color: #000000;
   line-height: 1.5em;
   text-align: left;
 }

 h5 {
   font-family: 'Nixie One', cursive;
   font-size: 12px;
   font-weight: 700;
   color: #000000;
   text-align: left;
   line-height: 1.5em;
 }

 i {
   text-decoration: none;
   color: #000;
 }

 .tittle p {
   font-family: 'Work Sans', sans-serif;
   max-width: 650px;
   margin: 0 auto 0 auto;
   text-align: center;
   font-size: 1.2em;
   font-weight: bold;
   text-transform: uppercase;
 }

 .button {
   padding: 5% 5% 10% 5%;
 }
 /*TIMELINE*/
 /* The actual timeline (the vertical ruler) */

 .timeline {
   position: relative;
   max-width: 1200px;
   margin: 0 auto;

 }
 /* The actual timeline (the vertical ruler) */

 .timeline::after {
   content: '';
   position: absolute;
   width: 2px;
   background-color: #000000;
   top: 0px;
   bottom: 0px;
   left: 50%;
   margin-left: -2px;
      z-index: 1;
 }
 /* Container around content */

 .container {
   padding: 0px 20px;
   position: relative;
   background-color: inherit;
   width: 50%;

 }
 /* Container around content */

 .container1 {
   padding: 0px 25px;
   position: relative;
   background-color: inherit;
   width: 50%;
 }

 .container1 h4 {
   text-align: left;
 }
 /* Container around content */

 .container2 {
   padding: 0px 20px;
   position: relative;
   background-color: inherit;
   width: 50%;
 }
 /* Container around content */

 .container3 {
   padding: 0px 20px;
   position: relative;
   background-color: inherit;
   width: 50%;
 }

 .container3 h4 {
   text-align: right;
   position: relative;
 }
 /* Container3 text content */

 .container3 h3 {
   text-align: right;
   font-weight: 300;
 }
 /* Container around content */

 .container4 {
   padding: 0px 0px;
   position: relative;
   background-color: inherit;
   width: 100%;
 }
 /* The arrow on the timeline */

 .container::after {
   content: '';
   position: absolute;
   width: 12px;
   height: 12px;
   right: -6px;
   border: solid #000000;
   border-width: 0 2px 2px 0;
   top: 23px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   z-index: 3;
 }
 /* The circles left on the timeline */

 .container1::after {
   content: '';
   position: absolute;
   width: 17px;
   height: 17px;
   background-color: white;
   border: 2px solid #000000;
   top: 20px;
   border-radius: 50%;
    z-index: 3;
     -webkit-transform: translateZ(2);
 }
 /* The circles right on the timeline */

 .container3::after {
   content: '';
   position: absolute;
   width: 17px;
   height: 17px;
   right: -9px;
   background-color: white;
   border: 2px solid #000000;
   top: 20px;
   border-radius: 50%;
     z-index: 3;
 }
 /* The line on the timeline */

 .container4::after {
   content: '';
   position: absolute;
   width: 17px;
   left: -17px;
   border: solid #000000;
   border-width: 0 0 2px 0;
   bottom: 5px;
 }
 /* Place the container to the left */

 .left {
   left: 0;
 }
 /* Place the container to the right */

 .right {
   left: 50%;
 }
 /* Fix the circle for containers on the right side */

 .right::after {
   left: -12px;
 }
 /* The actual content */

 .content {
   padding: 13px 20px 25px 10px;
   position: relative;
   border-radius: 6px;
   text-align: right;
 }

 @media only screen and (min-width: 1000px) {
   .container1 {
     padding: 0px 90px 0px 15px;
   }
   .container3 {
     padding: 0px 15px 0px 90px;
   }
 }

 @media all and (max-width: 800px) {
   .container1 {
     padding: 0px 0px 0 15px;
     position: relative;
     background-color: inherit;
     width: 50%;
   }
   .container3 {
     padding: 0px 0px 0 10px;
     position: relative;
     background-color: inherit;
     width: 50%;
   }
   .content h4 {
     font-size: 0.7em;
   }
 }

 .space {
   padding-bottom: 20px;
 }
 /*END TIMELINE*/
 /*PORTFOLIO*/

 .categorie {
   margin: 10px auto 0 auto;
   text-align: center;
 }

 #mywork ul li {
   display: inline-block;
   padding: 0.5em;
 }

 #mywork ul {
   list-style-type: none;
   overflow: hidden;
 }

 .btn {
   display: flex;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   font-size: 1rem;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   background-color: inherit;
   cursor: default;
   text-decoration: none;
   -webkit-appearance: none;
   padding-left: 12px;
   border: 0;
   color: #000000;
   padding-bottom: 1px;
   margin: 0;
 }

 li .first {
   padding-left: 0px;
 }

 @media all and (max-width: 850px) {
   .btn {
     font-size: 0.9rem;
     padding-left: 10px;
   }
   @media all and (max-width: 700px) {
     .btn {
       font-size: 0.9rem;
       padding-left: 7px;
     }
     .btn .first {
       padding-left: 0;
     }
   }
 }

 .btn:hover {
   text-decoration: none;
   color: #00EEDD;
 }

 .btn:focus {
   outline: none;
   color: #00EEDDborn;
 }

 .Clients p {
   font-family: 'Nixie One', sans-serif;
   font-size: 0.8em;
   font-weight: bold;
 }

 img, iframe {
   max-width: 100%;
   height: auto;
   display: block;
 }

 .thumb {
   opacity: 1;
   transition: .5s ease;
   backface-visibility: hidden;
 }

 .thumb-transition {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
 }

 .item:hover .thumb {
   opacity: 0.3;
 }

 .item:hover .thumb-transition {
   opacity: 1;
 }

 #mywork .wrapper {
   width: 95%;
   margin: 1.5em auto;
 }

 #portfolio {
   margin: 0;
   padding: 0;
   -moz-column-gap: 0.9em;
   -webkit-column-gap: 0.9em;
   column-gap: 0.9em;
   font-size: .85em;
 }

 .item {
   display: inline-block;
   background: #fff;
   padding: 0em;
   margin: 0 0 0.9em;
   width: 100%;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
 }

 @media only screen and (min-width: 500px) {
   #portfolio {
     -moz-column-count: 2;
     -webkit-column-count: 2;
     column-count: 2;
   }
 }

 @media only screen and (min-width: 700px) {
   #portfolio {
     -moz-column-count: 3;
     -webkit-column-count: 3;
     column-count: 3;
   }
 }

 @media only screen and (min-width: 1100px) {
   #portfolio {
     -moz-column-count: 4;
     -webkit-column-count: 4;
     column-count: 4;
   }
 }

 @media only screen and (min-width: 1280px) {
   .wrapper {
     width: 100%;
   }
 }
 /*END PORTFOLIO*/

 .allcontent {
   background-color: #D6FCF5;
 }

 .square {
   width: 55%;
   height: 200px;
   margin-right: 2.5%;
   margin-top: 20px;
   background: #11EEDD;
   z-index: -1
 }

 .about-first {
   display: inline-flex;
   width: 100%;
 }

 .my-picture {
   display: block;
   width: 95%;
   padding-bottom: 0px;
   margin: auto;
 }

 .svgabout {
   margin: auto;
   width: 150px;
   padding-top: 50px;
   padding-bottom: 45px;
   transform: scale(2);
   -webkit-transform: translate3d(0,0,0);
 }

 .bio p {
   margin-top: 0px;
 }

 .clear {
   clear: both;
 }

 .wcidfy-first {
   display: inline-flex;
   width: 100%;
 }

 .svgwcidfy {
   margin-left: 15%;
   margin-top: 140px;
   transform: scale(1.5);
 }

 #contact h1 {
   text-align: center;
   font-size: 1.2em;
   padding-top: 20px;
 }

 #contact a {
   text-decoration: none;
   color: #00EEDD;
 }

 #toTop {
   -ms-transform: scale(0.6);
   -webkit-transform: scale(0.6);
   transform: scale(0.6);
   position: relative;
   left: 87%;
   cursor: pointer;
 }

 #footer {
   display: block;
   width: 100%;
   background-color: #fff;
   border-top: 1px solid #dbd9d4;
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   font-family: 'work sans', sans-serif;
   font-size: 10px;
   font-weight: 400;
   line-height: 14px;
   text-align: center;
   padding-top: 10px;
   height: 40px;
   z-index: 1000;
 }
 /*SITE*/
 /*PageProjet*/
 /*header*/

 header {
   width: 100%;
   height: 100px;
   background-color: #fff;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   overflow: hidden;
   z-index: 999;
   border-bottom: 1px solid #dbd9d4;
 }

 .logo {
   float: left;
   padding-top: 25px;
 }

 header nav {
   float: right;
   text-align: center;
   padding-top: 40px;
 }

 header nav a {
   color: #000;
   font-family: 'Nixie One', cursive;
   text-decoration: none;
   font-weight: bold;
   font-size: 1em;
   text-align: center;
   padding-left: 20px;
 }

 header nav a:hover {
   color: #00EEDD;
 }

 @media all and (max-width: 600px) {
   header {
     height: 160px;
     float: none;
   }
   .logo {
     display: block;
     float: none;
     text-align: center;
     margin-left: 42%;
     margin-right: 42%;
   }
   header nav {
     display: block;
     float: none;
     align-items: center;
     padding-top: 20px;
   }
 }
 /*header end*/

 .project-content {
   padding-top: 6em;
   padding-bottom: 7em;
 }

 .project-description-title-mobile {
   display: none;
 }

 .project-visuals {
   display: inline-block;
   width: 70%;
 }

 .portfolio-image {
   max-width: 100%;
   padding-bottom: 15px;
 }

 .sidebar {
   display: inline-block;
   width: 30%;
   float: left;
   position: sticky;
   position: -webkit-sticky;
   top: 18%;
   padding-right: 30px;
 }

 .description-projet-details {
   border-top: 1px solid #dbd9d4;
   padding-top: 1em;
   border-bottom: 1px solid #dbd9d4;
   padding-bottom: 1em;
   margin-bottom: 1.5em;
 }

 .meta-title {
   font-family: 'Work Sans', sans-serif;
   font-size: 10px;
   font-weight: 400;
   line-height: 14px;
   text-transform: uppercase;
   text-decoration: underline;
   text-align: left;
 }

 .meta {
   font-family: 'Work Sans', sans-serif;
   font-size: 11px;
   font-weight: 400;
   line-height: 14px;
   text-align: left;
 }

 .caption {
   font-family: 'Work Sans', sans-serif;
   font-size: 9px;
   font-weight: 300;
   line-height: 14px;
   color: #000;
   text-decoration: none;
 }

 @media only screen and (max-width: 600px) {
   .project-content {
     padding-top: 3em;
     padding-bottom: 7em;
   }
   .project-description-title-mobile {
     display: block;
     padding-bottom: 3em;
   }
   .project-description-title-mobile h1 {
     text-align: center;
   }
   .project-visuals {
     display: block;
     width: 100%;
   }
   .project-description-title {
     display: none;
   }
   .sidebar {
     display: block;
     width: 100%;
     padding-right: 0;
     float: none;
     position: relative;
   }
 }
 /*OVERLAY*/
 /* The Modal (background) */

 .modal {
   visibility: hidden;
   opacity: 0;
   /* Hidden by default */
   transition: opacity .5s, visibility .5s;
   position: fixed;
   /* Stay in place */
   z-index: 1100;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgba(00, 18, 37, 1);
   /* Black w/ opacity */
   background: url("images_home/background-cutting-mat-horizontal.jpg") fixed;
   background-size: cover;
   background-color: #005657;
   background-position: center;
 }
 /* The Close Button */

 .close {
   position: fixed;
   top: 20px;
   right: 20px;
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   transition: transform 4s ease-out;
 }

 .close:hover, .close:focus {
   text-decoration: none;
   cursor: pointer;
   transform: rotate(1turn);
   color: #00EEDD;
 }
 /*END OVERLAY*/
