 /* reset all the CSS*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i {
  font-style: italic;
}



/*SITE*/
body  {
  display: block;
  background: url("patern2.svg") fixed;
  background-color: #001837;
}
button {
  background-color: #ffffff;
}


.hline {
  max-width: inherit;
  height: 1px;
  background: #000000;
  padding: 15px auto 15px auto;
  margin: 20px auto 20px auto;
}

.hline2 {
  height: 1px;
  background: #000000;
  padding: 10px auto 17px auto;
  margin: 20px auto 20px auto;
}

.hline3 {
  height: 0.07em;
  background: #000000;
  padding: 0px auto 0px auto;
  margin: 5px auto 5px auto;
}

svg  {
  height: auto;
 width: 100%;
 margin-top: 5em;
 padding-top: 0;
}
#MyWork_button {
  fill: #000000;
}

#MyWork_button:hover  {
  fill: #888888;
  }

  #About {
    fill: #000000;
  }

  #About:hover {
    fill: #888888;
    }

    #Contact {
      fill: #000000;
    }

    #Contact:hover {
      fill: #888888;
      }

.button{
  position:relative;
  left: 96%;
  top: 0;
  margin: 0;
  padding: 0;
  height: 4.5%;
  width: 4.5%;
  transition: transform 4s ease-out;
}

.button:hover {
transform: rotate(1turn);
}

.maincontent {
  position:sticky;
  width: auto;
  height: auto;
  padding: 5% 5% 0% 5%;
  margin: 2%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 6, 3), inset 0 0 2px rgba(0, 0, 3, 0);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 6, 3), inset 0 0 2px rgba(0, 0, 3, 0);
  box-shadow: 0 0 20px rgba(0, 0, 6, 3), inset 0 0 2px rgba(0, 0, 3, 0);
}

p {
font-family: 'Nixie One', cursive;
  font-size: 1.4em;
  font-style: normal;
  color: #000000;
  text-align: left;
  line-height: 1.5em;
}

h2 {
  font-family: 'Heebo', sans-serif;
    font-size: 0.8em;
  font-weight:bold;
    color: #000000;
    text-align: left;
    line-height: 1.3em;
    text-transform:uppercase;
    padding-bottom: 5px;
}

h3 {
  font-family: 'Heebo', sans-serif;
    font-size: 1em;
  font-weight:600;
    color: #000000;
    text-align: left;
    line-height: 1.5em;
    text-transform:uppercase;
}

h4 {
  font-family: 'Heebo', sans-serif;
    font-size: 0.8em;
  font-weight:bold;
    color: #000000;
    text-align: left;
    line-height: 1.5em;
  }

  h5 {
    font-family: 'Nixie One', cursive;
      font-size: 0.9em;
    font-weight:bold;
      color: #000000;
      text-align: left;
      line-height: 1.5em;
    }

.tittle p {
font-family: 'Heebo', sans-serif;
  max-width: 650px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 1.2em;
  font-weight:bold;
  text-transform: uppercase;
}


/*PORTFOLIO*/

#Mywork {
  padding-top: 5em;
  padding-bottom: 5em;
}

.sidebar {
display: block;
  float: left;
  width: 28%;
  padding-right: 5%;
}


.Clients p {
  font-family: 'Heebo', sans-serif;
    font-size: 0.8em;
    font-weight:bold;
}

#portfolio {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 0.6rem;
  -moz-column-gap: 0.6rem;
  column-gap: 0.6rem;
}

.tile {
  display: block;
  overflow: hidden;
  height: auto;
  border: none;
  margin-bottom: 0.6rem;
}

.tile img{
  width: 100%;
  height: auto;
    margin-bottom: -5px;
background-color: #FFFFFF;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
          transition: all 0.6s linear;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.tile:hover img {
  cursor: pointer;
  -webkit-transform:scale3d(1.4,1.4, 1);
  -moz-transform:scale3d(1.4,1.4, 1);
          transform:scale3d(1.4,1.4, 1);
}

.btn {
  display: flex;
  font-family: 'Nixie One', cursive;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: bold;
  cursor: default;
  text-decoration: none;
  -webkit-appearance: none;
  border: 0;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 4px;
  margin: 0;
}

.btn:hover {
  text-decoration: none;
  color: #888888;
}

.btn:focus {
  outline: none;
  color: #888888;
}
/*END PORTFOLIO*/


/*OVERLAY*/
/* The Modal (background) */
.modal {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(00,18,37,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
 .modal-content {
     display:hide; /* Hidden by default */
  background-color: #fefefe;
    margin: 12% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #001837;
    width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: transform 4s ease-out;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(1turn);
}


/* The Close Button2 */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: transform 4s ease-out;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(1turn);
}

/* The Close Button3*/
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: transform 4s ease-out;
}

.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(1turn);
}

/* The Close Button4*/
.close4 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: transform 4s ease-out;
}

.close4:hover,
.close4:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(1turn);
}


.modal-content .sidebarproject {
  position:fixed;
  width: 27%;
}

.modal-content .project {
  width: 70%;
  float:right;
}

.project img {
  display: block;
  width: 100%;
  padding-left: 20px;
}

.clear {
  clear: both;
}
/*Portfolio*/

/*END OVERLAY*/

#about {
  display: block;
}

#Read{
       display:none; /* Hidden by default */
}

.readmore  {
  outline: none;
  padding-top: 1.2em;
  color: #000000;
}
.readmore h2:hover {
  text-decoration: none;
  color: #888888;
}


section .HP {
  height: 100%;
}

.text {
display: block;
font-size: 0.85em;
  margin-left: 19%;
  max-width: 530px;
  width:auto;
    border-left: 0.15rem dashed #000;
    padding-left: 2rem;
    padding-bottom: 4rem;
    color:#fff;
}


.svgabout  {
  float: left;
  width: 23%;
-ms-transform: scale(0.7);
 -webkit-transform: scale(0.7);
  transform: scale(0.7);
margin-top: 6em;
}

.containerarrow {
  clear: both;
}

.arrowright {
display: block;
width: 0.65em;
height: 1em;
position: relative;
margin-left: 19%;
background-image: url(arrowright.svg);
background-repeat: no-repeat;
background-position: left;
-ms-transform: scale(1);
 -webkit-transform: scale(1);
  transform: scale(1);
}

.arrowleft {
display: block;
float: right;
width: 0.65em;
height: 1em;
position: relative;
margin-right: 81%;
background-image: url(arrowleft.svg);
background-repeat: no-repeat;
background-position: right;
-ms-transform: scale(1);
 -webkit-transform: scale(1);
  transform: scale(1);
}

.clear {
  clear: both;
}


.line {
  border-bottom: 0.15rem dashed #000;
  margin-top: 0.45em;
  top: 10px;
  width: 30%;
}

.cont-right  {
  padding-left: 5px;
  width: 0.65em;
  height: 1em;
  position: relative;
  background-image: url(arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  -ms-transform: scale(1);
   -webkit-transform: scale(1);
    transform: scale(1);
}

.name {
width: 30%;
position: relative;
padding-left: 0.8em;
height: auto;
padding-top: 0;
background-color: #ddd;
background-repeat: no-repeat;
}

.float {
float:left;
}

#toTop {
  -ms-transform: scale(0.6);
   -webkit-transform: scale(0.6);
  transform: scale(0.6);
  position:relative;
 left: 87%;
  cursor: pointer;
}
/*SITE*/
